@import (reference) '~antd/es/style/themes/index';

.pre {
  margin: 12px 0;
  padding: 12px 20px;
  background: @input-bg;
  box-shadow: @card-shadow;
  border-radius: 6px;
  overflow-x: auto;
}

.uploadCard {
  border-radius: 8px;
}

.cmdCard {
  border-radius: 8px;
}
